---
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <base href="{{ site.baseurl }}" target="_blank">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
  {% seo jsonld=true %}
</head>

<body class="bg-white dark:bg-zinc-900 antialiased">

  {% include header.html %}

<main>
  {{ content }}
</main>

{% include footer.html %}

</body>

</html>
